[submodule "0 - PreWork/NPM-Clone"]
	path = 0 - PreWork/NPM-Clone
	url = https://github.com/ValerianExp/NPM-Clone
[submodule "1 - Week 1/lab-css-instagram-clone-master"]
	path = 1 - Week 1/lab-css-instagram-clone-master
	url = https://github.com/ValerianExp/lab-css-instagram-clone-master
[submodule "1 - Week 1/lab-css-spotify-clone"]
	path = 1 - Week 1/lab-css-spotify-clone
	url = https://github.com/Carlos-Vallejo-Bustamante/lab-css-spotify-clone
[submodule "1 - Week 1/lab-bootstrap-cloning-revera"]
	path = 1 - Week 1/lab-bootstrap-cloning-revera
	url = https://github.com/ValerianExp/lab-bootstrap-cloning-revera
[submodule "1 - Week 1/lab-css-flexbox-slack"]
	path = 1 - Week 1/lab-css-flexbox-slack
	url = https://github.com/ValerianExp/lab-css-flexbox-slack
[submodule "1 - Week 1/lab-javascript-functions-and-arrays"]
	path = 1 - Week 1/lab-javascript-functions-and-arrays
	url = https://github.com/ValerianExp/lab-javascript-functions-and-arrays
[submodule "1 - Week 1/lab-javascript-vikings"]
	path = 1 - Week 1/lab-javascript-vikings
	url = https://github.com/ValerianExp/lab-javascript-vikings
[submodule "1 - Week 1/lab-javascript-clue"]
	path = 1 - Week 1/lab-javascript-clue
	url = https://github.com/ValerianExp/lab-javascript-clue
[submodule "1 - Week 1/lab-dom-ironhack-cart"]
	path = 1 - Week 1/lab-dom-ironhack-cart
	url = https://github.com/ValerianExp/lab-dom-ironhack-cart
