[submodule "1 - Week 1/lab-css-instagram-clone"]
	path = 1 - Week 1/lab-css-instagram-clone
	url = https://github.com/ValerianExp/lab-css-instagram-clone
[submodule "0 - PreWork/NPM-Clone"]
	path = 0 - PreWork/NPM-Clone
	url = https://github.com/ValerianExp/NPM-Clone
